#container {
    background-color: silver;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#display {
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin: 25px;
    margin-top: 10px;

    font-size: 28pt;
    color: aliceblue;

}

#teclas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

button {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 32pt;
    font-weight: 700;
    width: 50px;
    cursor: pointer;
}

.igual {
    background-color: darkgreen;
}

.limpar {
    background-color: brown; 
    width: 80px;
}